@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: url('proximanovasoft-regular-webfont.woff2') format('woff2'),
    url('proximanovasoft-regular-webfont.woff') format('woff');
}
